{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">My profile</div>
                <div class="card-body">
                    <!-- My profile data -->
                    <div class="row">
                        <div class="profilePicture">
                            <div class="row align-items-center">
                                <div class="col">
                                    <img class="rounded-circle mb-1 mt-1" style="border: 1px solid #858796"
                                        src="/static/img/{{user.worker.workerPhoto}}" width="180" height="180">
                                </div>
                                <div class="col">
                                    <div class="row mb-3 mt-3">
                                        <span>
                                            {{user.worker.workerNameFirst}} {{user.worker.workerNameLast}}
                                        </span>
                                    </div>
                                    <div class="row mb-3 mt-3">
                                        <span>
                                            {% if hasJob %}
                                            {{user.worker.workerEmail}}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="row mb-3 mt-3">
                                        {% if hasJob %}
                                        {% for Job in job %}
                                        <span>
                                            [{{Job.jobJobTittle.jobtDepartment.dptoNameShort}}] -
                                            {{Job.jobJobTittle.jobtName}}
                                        </span>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END profile data -->
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">Personal information</div>
                <div class="card-body">
                    <!-- Personal information data -->
                    <form>
                        <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label><input
                                class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38"
                                name="address"></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="city"><strong>City</strong></label><input class="form-control" type="text"
                                        id="city" placeholder="Los Angeles" name="city"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="country"><strong>Country</strong></label><input class="form-control"
                                        type="text" id="country" placeholder="USA" name="country"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button>
                            </div>
                        </div>
                    </form>
                    <!-- ENDPersonal information data -->
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">Título</div>
                <div class="card-body">
                    <!-- Contact information -->
                    <form>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="city"><strong>First
                                            name</strong></label><input class="form-control" type="text" id="city"
                                        placeholder="Los Angeles" name="city"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="country"><strong>Last
                                            name</strong></label><input class="form-control" type="text" id="country"
                                        placeholder="USA" name="country"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="city"><strong>Work email
                                            address</strong></label><input class="form-control" type="text" id="city"
                                        placeholder="Los Angeles" name="city"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="country"><strong>Contact email
                                            address</strong></label><input class="form-control" type="text" id="country"
                                        placeholder="USA" name="country"></div>
                            </div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm"
                                type="submit">Save&nbsp;Settings</button></div>
                    </form>
                    <!-- END Contact information -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}