<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - AxolotlTeam</title>
    <meta name="description" content="AxolotlTeam Intranet.">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">

    <!-- Sweet alert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/sweetAlert2.js"></script>
    <!-- Sweet alert 2 -->
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/static/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            {% if messages %}
                                {% for m in messages %}
                                    <script>
                                        WorkerSignUpSuccess("{% url 'workerLogin' %}");
                                    </script>
                                {% endfor %}
                            {% endif %}
                            <form method="POST" class="user">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    {% if form.errors %}
                                        {% for key,value in form.errors.items %} 
                                            <script>
                                                MessageConfirm('Grr..', '{{ value }}');
                                            </script>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{form.first_name}}</div>
                                    <div class="col-sm-6">{{form.last_name}}</div>
                                </div>
                                <div class="mb-3">{{form.username}}</div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{form.password1}}</div>
                                    <div class="col-sm-6">{{form.password2}}</div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                                <hr>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="{% url 'workerLogin' %}">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>