<!-- Footer -->
<br>
<footer class="text-center text-lg-start bg-light text-muted card">
    <div class="container-xxl">
        <div class="card-body">
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>AxolotlTeam
                            </h6>
                            <p>
                                Examen 1 programación web
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Tecnologias implementadas
                            </h6>
                            <p><a href="#!" class="text-reset">Django</a></p>
                            <p><a href="#!" class="text-reset">Python</a></p>
                            <p><a href="#!" class="text-reset">Mssql</a></p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Equipo desarrollador del proyecto
                            </h6>
                            <p><a href="https://github.com/Alvaroggm123" class="text-reset">19211651 - González Martínez
                                    Álvaro
                                    Gabriel</a></p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p class="fw-bold"><i class="fas fa-home me-3"></i> Álvaro González</p>
                            <p><i class="fas fa-home me-3"></i> System administrator of AxolotlTeam</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                <a
                                    href="mailto:a.gonzalez@usmex.mx?Subject=Página%20Web%20base">a.gonzalez@axolotlteam.com</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
        </div>
    </div>
    
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 card-body" style="background-color: #437c51; color: lightgray;">
        Powered by:
        <a class="text-reset fw-bold" href="https://github.com/Axolotl-Team-mx">AxolotlTeam</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->